.registerForm {
    font-weight: 200;
    color: #1f281d;
    margin-top: 10%;
    font-size: 1.5em;
    font-weight: bold;
    height: 350px;
    width: 470px;
    background-color: rgba(244, 207, 174, 0.82);
    border-radius: 20px;
    border: white 1px solid;
    margin: 0 auto;
}


.mainWrap {
  height: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
    
}
.MuiFormControl-root {
  
    width: 400px;
}
.MuiButton-contained {
    margin: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center
}
.MuiButton-containedPrimary {
    color:#e8cdb0;
    background-color: #40b53f !important;
}

h2 {
    color: rgba(11, 80, 76, 0.5);
}