.addRoute {
   height: 100%;
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;  
   
}
.wrap-routes {
     width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-image: url('../../assets/images/back4.jpg'); 
      background-size: cover;
      background-repeat: no-repeat;
      position: fixed;
      background-attachment: scroll;
      background-position: 50%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
  
}
.menu-routes {
    font-weight: bold;
    height: 575px;
    width: 30%;
    background-color: rgba(244, 207, 174, 0.82);
    border-left: white 1px solid;
    margin-top: 120px;
    
}
.menu-routes p { 
    font-weight: 300;
    font-size: 25px;
    color: #000;
}
.menu-routes button {
    width: 83%;
    margin-top: 10px;
    background-color:  rgba(244, 207, 174, 0.82);
    font-weight: 300;
    font-size: 20px;
    color: #000;
    border: none;
    height: 60px;
    text-align: center;
    cursor: pointer;
    outline: 0 !important;
    border-bottom: 1px white solid
}
.menu-routes button:hover {
    background-color: rgb(228, 192, 129)
}
.map {
    position: relative;
    height: 500px;
    width: 60%;
    border: 10px solid rgba(244, 207, 174, 0)
}

.add-img {
    height: 35px;
    width: 35px
}
.MuiFormControl-root {
    width: 90%
}