.main-user-wrap {
  overflow: auto;
  background-image: url('../../assets/images/back4.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  background-attachment: scroll;
  background-position: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.main-user {
  background-color: rgba(244, 207, 174, 0.52);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-content {
  height: 50%;
  color: black;
  width: 50%;
}
.user-content-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  width:  100%;
  font-weight: 300;
  font-size: 40px;
  color: #1f281d;   
}
.user-content div {
  border-bottom: 2px solid black;
  font-size: 30px;
  text-align: start;
}
.user-content p {
  font-size: 20px;
  margin: 0 !important
}
.user-image{
  height: 300px;
  width: 300px;
}
.main-user button {
  border-radius: 5px;
  width: 120px;
  height: 30px;
  background-color: #e8cdb0;
  font-weight: 400;
  font-size: 15px;
  margin-top: 10%;
  cursor: pointer;
  padding: 0 40px;
  border: none;
  outline: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.main-user button:hover  {
  background-color: #e3d6ce;
}
.div-wrap {
  vertical-align: middle;
  align-items: center; 
  justify-content: space-between;
  display: flex;
  margin-bottom: 20px
}
.edit-button img {
  width: 25px;
  height: 25px;
}
.user-image label {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px; 
}
input {
  display: none;
}
.disable {
  display: none
}
.enable {
  width: 290px;
  height: 290px ;
}
.main-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding-top: 100px
}
.form-control{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 20px;
  line-height: 1.5;
  color: #3b3b3b;
  background-color: #e8cdb0;
  background-clip: padding-box;
  border: 1px solid rgba(244, 207, 174, 0);
  border-radius: 10px;
  margin-bottom: 10px;
}
.save {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  height: 100%;
  width: 100%;
  z-index: 333;
  background-color: rgba(250, 226, 204, 0.507);
  /* position: absolute; */
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.user-content img {
  margin: 0 auto;
  cursor: pointer;
  height: 40px;
}
.button-cont {
  display: flex;
  justify-content: space-around
}