.navbar {
    display: flex;
    background-color:black;
    height: 70px;
    justify-content: space-between;
    align-items: initial !important
 
}
.profile {
    height: 15px
}
.navbar-block {
    width: 80%;
    margin: 0 auto;
    height: 70px;
}
li {
    flex-direction: row
}
.button-container {
    width: 80%;
    display: flex;
    font-size: 25px;
    
}

.add-routes-button  {
    background-color: #e8cdb0;
    font-weight: 400;
    font-size: 15px;
    color: #000;
    border-radius: 5px;
    height: 50px;
    padding:0 40px;
    border: none;
    /* border-bottom: 5px solid#977f6d; */
    text-align: center;
    display: block;
    cursor: pointer;
    margin-left: 5px;
   
}

.add-routes-button:hover {
    border-bottom-color: #8c3823;
    background-color:  #e3d6ce;
    box-shadow: 4px 4px 7px white;
}
.routes-button  {
    background-color: #e8cdb0;
    font-weight: 400;
    font-size: 15px;
    color: #000;
    border-radius: 5px;
    height: 50px;
    padding:0 40px;
    border: none;
    border-bottom: 5px solid #977f6d;
    text-align: center;
    display: block;
    cursor: pointer;
    margin-left: 5px
}

.routes-button:hover {
    border-bottom-color: #8c3823;
    background-color: #e3d6ce;
}
/* .map-wrap {
    margin-top: 10%;
    font-size: 1.5em;
    font-weight: bold;
    height: 400px;
    width: 500px;
    background-color:rgba(244, 207, 174, 0.82);
    border-radius: 20px;
    border: white 1px solid;
    margin: 0 auto;
} */

.menu { 
    justify-content: flex-end;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    display: flex;
  
}
.menu button:hover {
    border: white 1px solid;
    background-color: #e3d6ce;
}
.menu button {
   
    border-radius: 5px;
    width: 120px;
    height: 50px;
    background-color: #e8cdb0;
    font-weight: 400;
    font-size: 15px;
    margin-top: 5px;
    cursor: pointer;
    padding: 0 40px;
    border: none;
}
.userButton {
    background-color: black;
    border: none;
    cursor: pointer;
    width: 120px;
    height: 50px;   

}
