.routes {
  background-image: url('../../assets/images/back4.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

}
.routes-content {
  padding-top: 100px;
  color: black; 
  height: 100%;
  width: 90%; 
  margin-bottom: 20px
}
.data-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  color: #1f281d;
  margin-top: 10px;
  font-size: 1.5em;  
  background-color: rgba(244, 207, 174, 0.82);
  border-radius: 20px;
  border: white 1px solid; 
  min-width: 500px
}
.data-wrap p {
  margin: 0
}
.map-wrap {
  position: relative;
  height: 200px ;
  width: 200px ;
} 
.walks-img {
  height: 200px ;
  width: 200px ;
  margin-right: 10px
}
.walks-title {
  font-size: 40px;
  font-weight: bold;
  width: 30%
}