.add {
    margin-top: 500px;
    width: 100%;
    background-color:  rgba(244, 207, 174, 0.82);
    font-weight: 300;
    font-size: 20px;
    color: #000;
    border: none;
    height: 60px;
    text-align: center;
    cursor: pointer;
    outline: 0 !important;
    border-bottom: 1px white solid;
    
}
.add:hover {
    background-color: rgb(228, 192, 129)
}
.map-container {
   
    height: 100%;
}