.login {
  font-weight: 200;
  color: #1f281d;
  margin-top: 10%;
  font-size: 1.5em;
  font-weight: bold;
  height: 250px;
  width: 470px;
  background-color: rgba(244, 207, 174, 0.82);
  border-radius: 20px;
  border: white 1px solid;
  margin: 0 auto;
}
.loginWrap {
  height: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
  background-image: url('../../assets/images/back4.jpg'); 
  background-size: cover;
}

       
.name {
  display: flex;
  justify-content: center;
  align-items: center;
      
}
.password  {
  display: flex;
  justify-content: center;
  align-items: center;

}
.name img {
  margin-right: 15px;
  display: block;
  height: 15px;
  width: 15px;
}
.password img {
  margin-right: 15px;
  display: block;
  height: 15px;
  width: 15px;
}
.button {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    text-decoration: none;
    
  
}

.link {
    text-decoration: none;
    color:black;
    
}

.errName {
    color: red
}
.MuiButton-root {
    width: 80px !important;
    background-color:#e8cdb0 !important
}
.MuiButton-root:hover {
  background-color: #e3d43f !important;
  border-bottom-color: green !important;
}
.but2 {
    width: 80px !important;
    background-color: #ffff00
}