.login {
    margin-top: 10%;
}


       
.name {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.password  {
    display: flex;
    justify-content: center;
    align-items: center;

}
.name img {
    margin-right: 15px;
    display: block;
    height: 15px;
    width: 15px;
}
.password img {
    margin-right: 15px;
    display: block;
    height: 15px;
    width: 15px;
}
.button {
    display: flex;
    justify-content: space-between;
    width: 15%;
    margin: 0 auto;
    margin-left: 43.7%;
}

.link {
    text-decoration: none;
    color:black
}